.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/** Label **/
.label__input {
  margin-bottom: 10px;
  width: 400px !important;
}

.ant-input {
  width: 200px;
}

.label__textarea {
  width: 300px;
  margin-bottom: 10px;
}

.label__title {
  font-size: 15px;
}

.label__textarea-title {
  line-height: 28px;
}

.ant-modal {
  padding-bottom: 0;
}

.ant-card-body {
  padding: 12px;
}

.childList:hover {
  background-color: #bdc3c7;
  color: #2c3e50;
}
